*.jar
*.bak
/xaero/
/XaeroWaypoints_*/
/trainers/
/spoornpacks/
/slideshow/
/stackdeobf_mappings/
/showdown/
/screenshots/
/mod*/
/modernfix/
/saves/
.curseclient
/easy_npc/
/ESM/
/exposures/
/immersive_*
/logs/
/local/
/emojiful/
/data/
/crash-reports/
/cache/
.fabric/
.vscode/
.mixin.out/
emi.json
imgui.ini
minecraftinstance.json
observable_announce
options.amecsapi.txt
options.txt
rhino.local.properties
servers.dat
servers.dat_old
patchouli_data.json
TrashSlotSaveState.json
user-prefs.json
usercache.json
usernamecache.json
Version Exports
/win_*/